openai
python-dotenv
requests
flask flask==2.3.3 beautifulsoup4, yt-dlp, pytube                                                                                                                                                         flask
gunicorn
